[Unit]
Description=sonarr docker container

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=sonarr \
                              -v /home/jbauwens/Videos/config/sonarr:/config \
                              -v /home/jbauwens/Videos/downloads:/downloads \
                              -v /home/jbauwens/Videos/TV:/tv \
                              -e PGID=1001 -e PUID=1001  \
                              -e TZ=UTC+1 \
                              -p 8989:8989 \
                              linuxserver/sonarr

ExecStop=/usr/bin/docker stop sonarr

[Install]
WantedBy=multi-user.target
