[Unit]
Description=kerberos doorbell docker container

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker container restart kerberos_doorbell
ExecStop=/usr/bin/docker stop kerberos_doorbell

[Install]
WantedBy=multi-user.target
