[Unit]
Description=Emby docker container

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=emby \
                              --network host \
                              -v /home/jbauwens/Videos/config_emby:/config \
                              -v /var/lib/transmission-daemon/downloads:/downloads \
                              -v /home/jbauwens/Videos/movies:/movies \
                              -v /home/jbauwens/Videos/TV:/TV \
                              -e PGID=1001 -e PUID=1001  \
                              -e TZ=UTC+1 \
                              -p 8096:8096 \
                              emby/embyserver:latest

ExecStop=/usr/bin/docker stop emby

[Install]
WantedBy=multi-user.target
