[Unit]
Description=Grafana docker container

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=grafana \
                              -v /home/jbauwens/github/server/grafana/grafana-storage:/var/lib/grafana \
                              -v /home/jbauwens/github/server/grafana/grafana-etc:/share/grafana \
                              -e TZ=UTC+1 \
                              -e "GF_PATHS_CONFIG=/share/grafana/grafana.ini" \
                              -p 3000:3000 \
                              grafana/grafana:7.1.1-ubuntu

ExecStop=/usr/bin/docker stop grafana

[Install]
WantedBy=multi-user.target
