[Unit]
Description=Transmission docker container

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=transmission \
                              -v /home/jbauwens/Videos/config/transmission:/config \
                              -v /home/jbauwens/Videos/downloads:/downloads \
                              -v /home/jbauwens/Videos/movies:/movies \
                              -v /home/jbauwens/Videos/TV:/TV \
                              -e PGID=1001 -e PUID=1001  \
                              -e TZ=UTC+1 \
                              -p 51413:51413 \
			      -p 9091:9091 \
                              linuxserver/transmission

ExecStop=/usr/bin/docker stop transmission

[Install]
WantedBy=multi-user.target
